{
  "presets": ["stage-3", "es2015"],
  "plugins": ["transform-es2015-modules-umd"],
  "env": {
    "development": {
      "sourceMaps": "inline"
    },
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
